data
corpus
tmp
logs
student_models
wandb
whisper
output
inference_results
packages
# common files to ignore
*.pyc
*.pyo
*.swp
*.egg-info
__pycache__/
**/__pycache__/
華康
# symlinked directories
/transformers
!/transformers/