data
corpus
tmp
logs
student_models
wandb
whisper
output
inference_results
packages
# common files to ignore
*.pyc
*.pyo
*.swp
*.csv
*.txt
*.egg-info
__pycache__/
**/__pycache__/
華康.md
# symlinked directories
/transformers
!/transformers/
**/*.todo
**/*.log
**/*.csv
**/*.txt
prefiltering/total_duration.txt
pseudo-labelling/*.log
prefiltering/total_duration.txt
pseudo-labelling/*.log
